<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>207286663819-0f0v9idpd425a14d38a9rm1r42ih9vqe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.207286663819-0f0v9idpd425a14d38a9rm1r42ih9vqe</string>
	<key>API_KEY</key>
	<string>AIzaSyC6gEmInpO-CtKc8G0-zJOuAwIHoHr3ylM</string>
	<key>GCM_SENDER_ID</key>
	<string>207286663819</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tawasolApp</string>
	<key>PROJECT_ID</key>
	<string>tawasol-app-cb625</string>
	<key>STORAGE_BUCKET</key>
	<string>tawasol-app-cb625.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:207286663819:ios:d347893d03b3109539f28e</string>
</dict>
</plist>